*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none
}
body{
    background-color: rgb(245, 243, 243);
    display: flexbox;
    gap: 20px;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 20px darkgrey;
    align-items: center;
}

h1{
    font-size: larger;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 10px;
}

li a{
    margin-left: 15px;
    color: black;
    display: flex;
    align-items: center;
}

li a:hover{
    background-color: lightgray;
    color: blue;
}

button{
    background-color: rgb(203, 195, 195);
    padding: 5px 10px;
    border-radius: 20px;
}

button i{
    color: white;
    transition: 5ms;
}

button i:hover{
    background-color: lightgray;
    color: blue;
}

.content {
    display: flex;  /* nicht flexbox! */
    gap: 5px;
    padding: 10px;
}

aside{
    width: 130px;
    padding: 10px;
    border-style: double;
}

h2 a{
    font-size: medium;
    color: black;
}

h2 a:hover{
    background-color: lightgrey;
    color: blue;
}

main{
    flex: 1;
    padding: 20px;
    border-style: double;
}

footer{
    display: flex;
    border-style: double;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

h2{
    font-size: medium;
}

.inhalt{
    display: block;
    padding: 10px 10px 10px 10px;
    
    
}